@charset "UTF-8";
html,
body {
  margin: 0 auto;
  max-width: 724px;
}

.arimakinen {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica Neue, HelveticaNeue, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
  font-size: 16px;
  color: #1e2428;
  background-color: white;
  margin: 0 16px;
}
@media screen and (min-width: 599px) {
  .arimakinen {
    margin: 0 auto;
  }
}
.arimakinen-h1 {
  margin: 20px auto;
  max-width: 599px;
}
@media screen and (min-width: 599px) {
  .arimakinen-h1 {
    max-width: 724px;
    width: 724px;
  }
}
.arimakinen-h1 img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.arimakinen-h2 {
  margin: 0 0 4px 0;
  color: #1e2428;
  text-align: left;
  font-size: 25px;
  font-weight: 900;
}
.arimakinen-h3 {
  margin: 0 0 20px 0;
  color: #1e2428;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
.arimakinen-credit {
  font-size: 14px;
  text-align: left;
  margin: 5px 0 30px 0;
  line-height: 1.5;
  font-style: italic;
}
.arimakinen-h4 {
  font-size: 24px;
  font-weight: 800;
  color: #1e2428;
  text-align: center;
  margin: 0 auto 10px auto;
}
.arimakinen-h4::before, .arimakinen-h4::after {
  content: "";
  display: inline-block;
  background-image: url("/images/arimakinen-teitetsu-gold.png");
  height: 36px;
  width: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 7px 7px 5px;
}
.arimakinen-linkmenu {
  position: relative;
  margin: 0 0 30px 0;
}
.arimakinen-linkmenu ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 599px) {
  .arimakinen-linkmenu ul {
    margin: 0 150px;
  }
}
.arimakinen-linkmenu ul li {
  width: 55px;
}
.arimakinen-linkmenu ul li img {
  width: 100%;
}
@media screen and (min-width: 599px) {
  .arimakinen-group-pcflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.arimakinen-content {
  width: 100%;
  margin: 0 0 50px 0;
}
.arimakinen-content img {
  width: 100%;
}
@media screen and (min-width: 599px) {
  .arimakinen-content {
    flex-basis: calc(50% - 20px);
  }
}
.arimakinen-content-change {
  position: relative;
}
.arimakinen-content-change-btn {
  z-index: 999;
  border: none;
  background-color: rgb(151, 126, 15);
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 4px 10px;
  text-align: right;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 0;
}
@media screen and (min-width: 599px) {
  .arimakinen-content-change-btn {
    top: 0;
  }
}
.arimakinen-content-change-newlinebtn {
  z-index: 999;
  border: none;
  background-color: rgb(151, 126, 15);
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 4px 10px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 0;
}
.arimakinen-content-chart {
  height: 500px;
  margin: 0 0 50px 0;
}
.arimakinen-content-chart-size350 {
  height: 350px;
}
@media (min-width: 599px) {
  .arimakinen-content-chart-size350 {
    height: 400px;
  }
}
.arimakinen-marginb90 {
  margin: 0 0 90px 0;
}
.arimakinen-marginb100 {
  margin: 0 0 100px 0;
}
.arimakinen-margint35 {
  margin: 35px 0 0 0;
}
.arimakinen-pcdisp-none {
  display: block;
}
@media (min-width: 599px) {
  .arimakinen-pcdisp-none {
    display: none;
  }
}

.arimakinen {
  /* アコーディオンのスタイル */
}
.arimakinen-accordion {
  margin-bottom: 10px;
  margin-right: -16px;
}
@media screen and (min-width: 599px) {
  .arimakinen-accordion {
    margin-right: 0;
  }
}
.arimakinen-accordion-toggle {
  padding: 0 10px;
  position: relative;
  display: flex;
  align-items: baseline;
}
.arimakinen-accordion-icon {
  /* 三角形の矢印を作るためのコード */
  position: relative;
  cursor: pointer;
}
.arimakinen-accordion-icon:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: -6px;
  margin-right: 5px;
  border-style: solid;
  border-width: 15px 12px 0 12px;
  border-color: #ab973a transparent transparent transparent;
  vertical-align: middle;
  transition: transform 0.3s ease;
}
.arimakinen-accordion-icon.active:before {
  /* アクティブな状態のとき（下向き矢印） */
  transform: rotate(180deg);
}
.arimakinen-accordion-content {
  display: none;
  padding: 16px 0;
  border-top: none;
}
.arimakinen-times {
  color: #ab973a;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  width: 100px;
}
.arimakinen-times-number {
  font-size: 39px;
  font-family: "Kanit", sans-serif;
  padding: 0 5px;
  vertical-align: -4%;
}
.arimakinen-date {
  font-size: 16px;
  color: #5f5f55;
  font-weight: 500;
  padding-left: 10px;
}
.arimakinen-table {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.arimakinen-table-bar {
  position: absolute;
  overflow-x: auto;
  top: -5px;
  left: 0;
  width: 100%;
  height: 8px;
  box-sizing: border-box;
  background: repeating-linear-gradient(-45deg, #ab973a, #ab973a 3px, white 3px, white 6px);
}
.arimakinen-table-scrollcontainer {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.arimakinen-table-scrollcontainer .horsename {
  font-weight: bold;
}
.arimakinen-table-scrollcontainer .center-text {
  text-align: center;
}
.arimakinen-table-scrollcontainer th,
.arimakinen-table-scrollcontainer td {
  white-space: nowrap;
}
.arimakinen-table-scrollcontainer th {
  font-weight: 500;
  font-size: 12px;
}
.arimakinen-table-scrollcontainer th,
.arimakinen-table-scrollcontainer table {
  border-bottom: 2px solid #d3d2c4;
}
.arimakinen-table-scrollcontainer td {
  border-bottom: 1px dashed #d3d2c4;
}
.arimakinen-table-scrollcontainer table {
  border-collapse: collapse;
  font-size: 14px;
}
.arimakinen-table-scrollcontainer td {
  padding: 5px 5px;
}
.arimakinen-table-scrollcontainer .waku {
  background-color: rgb(249, 242, 227);
}
.arimakinen-table-scrollcontainer .rank {
  font-family: "Kanit", sans-serif;
  color: #ab973a;
}/*# sourceMappingURL=arimakinen-alldata.css.map */