html,
body {
  margin: 0 auto;
  max-width: 724px;
}

.arimakinen {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica Neue, HelveticaNeue, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
  font-size: 16px;
  color: #1e2428;
  background-color: white;
  margin: 0 16px;
}
@media screen and (min-width: 599px) {
  .arimakinen {
    margin: 0 auto;
  }
}
.arimakinen-h1 {
  margin: 20px auto;
  max-width: 599px;
}
@media screen and (min-width: 599px) {
  .arimakinen-h1 {
    max-width: 724px;
    width: 724px;
  }
}
.arimakinen-h1 img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.arimakinen-h2 {
  margin: 0 0 4px 0;
  color: #1e2428;
  text-align: left;
  font-size: 25px;
  font-weight: 900;
}
.arimakinen-h3 {
  margin: 0 0 20px 0;
  color: #1e2428;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
.arimakinen-credit {
  font-size: 14px;
  text-align: left;
  margin: 5px 0 30px 0;
  line-height: 1.5;
  font-style: italic;
}
.arimakinen-h4 {
  font-size: 24px;
  font-weight: 800;
  color: #1e2428;
  text-align: center;
  margin: 0 auto 10px auto;
}
.arimakinen-h4::before, .arimakinen-h4::after {
  content: "";
  display: inline-block;
  background-image: url("/images/arimakinen-teitetsu-gold.png");
  height: 36px;
  width: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 7px 7px 5px;
}
.arimakinen-linkmenu {
  position: relative;
  margin: 0 0 30px 0;
}
.arimakinen-linkmenu ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 599px) {
  .arimakinen-linkmenu ul {
    margin: 0 150px;
  }
}
.arimakinen-linkmenu ul li {
  width: 55px;
}
.arimakinen-linkmenu ul li img {
  width: 100%;
}
@media screen and (min-width: 599px) {
  .arimakinen-group-pcflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.arimakinen-content {
  width: 100%;
  margin: 0 0 50px 0;
}
.arimakinen-content img {
  width: 100%;
}
@media screen and (min-width: 599px) {
  .arimakinen-content {
    flex-basis: calc(50% - 20px);
  }
}
.arimakinen-content-change {
  position: relative;
}
.arimakinen-content-change-btn {
  z-index: 999;
  border: none;
  background-color: rgb(151, 126, 15);
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 4px 10px;
  text-align: right;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 0;
}
@media screen and (min-width: 599px) {
  .arimakinen-content-change-btn {
    top: 0;
  }
}
.arimakinen-content-changenewline {
  position: relative;
}
.arimakinen-content-changenewline-btn {
  z-index: 999;
  border: none;
  background-color: rgb(151, 126, 15);
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 4px 10px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 0;
}
.arimakinen-content-chart {
  height: 500px;
  margin: 0 0 50px 0;
}
.arimakinen-content-chart-size350 {
  height: 350px;
}
@media (min-width: 599px) {
  .arimakinen-content-chart-size350 {
    height: 400px;
  }
}
.arimakinen-marginb90 {
  margin: 0 0 90px 0;
}
.arimakinen-marginb100 {
  margin: 0 0 100px 0;
}
.arimakinen-margint35 {
  margin: 35px 0 0 0;
}
.arimakinen-pcdisp-none {
  display: block;
}
@media (min-width: 599px) {
  .arimakinen-pcdisp-none {
    display: none;
  }
}

.arimakinen-content-10dainews {
  margin: 30px 0 0 0;
}
.arimakinen-content-10dainews-title {
  margin: -10px 0 0 0;
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  color: #ab973a;
  font-size: 50px;
  text-align: center;
}
.arimakinen-content-10dainews-title span {
  font-size: 14px;
}
.arimakinen-content-10dainews-bar {
  margin: -10px 0 0 0;
  width: 100%;
  height: 8px;
  box-sizing: border-box;
  background: repeating-linear-gradient(-45deg, #008847, #008847 2px, white 3px, white 6px);
}
.arimakinen-content-10dainews-box {
  width: 100%;
  height: 300px;
  background-color: #008847;
  border-radius: 0 0 5px 5px;
}/*# sourceMappingURL=arimakinen-10dainews.css.map */