@charset "UTF-8";
html,
body {
  margin: 0 auto;
  max-width: 724px;
}

.arimakinen {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica Neue, HelveticaNeue, Hiragino Kaku Gothic ProN, Meiryo, "メイリオ", sans-serif;
  font-size: 16px;
  color: #1e2428;
  background-color: white;
  margin: 0 16px;
  line-height: 1.5;
  font-size: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
}
@media screen and (min-width: 599px) {
  .arimakinen {
    margin: 0 auto;
  }
}
.arimakinen h5 {
  font-size: 24px;
  font-weight: 800;
  color: #1e2428;
  text-align: center;
  margin: 0 auto 10px auto;
}
.arimakinen h5::before, .arimakinen h5::after {
  content: "";
  display: inline-block;
  background-image: url("/images/arimakinen-teitetsu-gold.png");
  height: 36px;
  width: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 7px 7px 5px;
}
.arimakinen-linkmenu {
  position: relative;
  margin: 20px 0 20px 0;
}
.arimakinen-linkmenu ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 599px) {
  .arimakinen-linkmenu ul {
    margin: 0 150px;
  }
}
.arimakinen-linkmenu ul li {
  width: 55px;
}
.arimakinen-linkmenu ul li img {
  width: 100%;
}
@media screen and (min-width: 599px) {
  .arimakinen-group-pcflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.arimakinen-content {
  width: 100%;
  margin: 0 0 50px 0;
}
.arimakinen-content img {
  width: 100%;
}
@media screen and (min-width: 599px) {
  .arimakinen-content {
    flex-basis: calc(50% - 20px);
  }
}
.arimakinen-content-change {
  position: relative;
}
.arimakinen-content-change-btn {
  z-index: 999;
  border: none;
  background-color: rgb(151, 126, 15);
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 4px 10px;
  text-align: right;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 0;
}
@media screen and (min-width: 599px) {
  .arimakinen-content-change-btn {
    top: 0;
  }
}
.arimakinen-content-change-newlinebtn {
  z-index: 999;
  border: none;
  background-color: rgb(151, 126, 15);
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 4px 10px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 0;
}
.arimakinen-content-chart {
  height: 500px;
  margin: 0 0 50px 0;
}
.arimakinen-content-chart-size350 {
  height: 350px;
}
@media (min-width: 599px) {
  .arimakinen-content-chart-size350 {
    height: 400px;
  }
}
.arimakinen-marginb90 {
  margin: 0 0 90px 0;
}
.arimakinen-marginb100 {
  margin: 0 0 100px 0;
}
.arimakinen-margint35 {
  margin: 35px 0 0 0;
}
.arimakinen-pcdisp-none {
  display: block;
}
@media (min-width: 599px) {
  .arimakinen-pcdisp-none {
    display: none;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.arimakinen-header {
  width: 100%;
  max-width: 724px;
  margin: 20px auto 40px auto;
}
.arimakinen-header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  margin-bottom: 6px;
}
@media (max-width: 599px) {
  .arimakinen-header-wrapper {
    height: 50px;
    margin-bottom: 2px;
  }
}
.arimakinen-header-wrapper .hamburger {
  display: inline-block;
  cursor: pointer;
  padding: 22px 30px;
  width: 168px;
}
@media (max-width: 599px) {
  .arimakinen-header-wrapper .hamburger {
    padding: 15px 20px;
    width: 80px;
  }
}
.arimakinen-header-wrapper .hamburger span {
  display: block;
  width: 49px;
  height: 4px;
  margin-bottom: 8px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 599px) {
  .arimakinen-header-wrapper .hamburger span {
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
  }
}
.arimakinen-header-wrapper .hamburger span:first-child {
  transform-origin: 0% 0%;
  background-color: #00922e;
}
.arimakinen-header-wrapper .hamburger span:last-child {
  transform-origin: 0% 100%;
  background-color: #00922e;
}
.arimakinen-header-wrapper .hamburger span:nth-child(2) {
  background-color: #aa9135;
}
.arimakinen-header-wrapper .hamburger.is-active span:first-child {
  transform: rotate(45deg) translateY(-10px) translateX(7px) scaleX(0.86);
}
@media (max-width: 599px) {
  .arimakinen-header-wrapper .hamburger.is-active span:first-child {
    transform: rotate(45deg) translateY(-3px);
  }
}
.arimakinen-header-wrapper .hamburger.is-active span:last-child {
  transform: rotate(-45deg) translateY(10px) translateX(7px) scaleX(0.86);
}
@media (max-width: 599px) {
  .arimakinen-header-wrapper .hamburger.is-active span:last-child {
    transform: rotate(-45deg) translateY(3px);
  }
}
.arimakinen-header-wrapper .hamburger.is-active span:nth-child(2) {
  opacity: 0;
}
.arimakinen-header-wrapper h1 img {
  width: 300px;
}
@media (max-width: 599px) {
  .arimakinen-header-wrapper h1 img {
    width: 200px;
  }
}
.arimakinen-header-wrapper-illust {
  width: 168px;
  height: 80px;
  position: relative;
  bottom: -6px;
  margin-left: 10px;
}
@media (max-width: 599px) {
  .arimakinen-header-wrapper-illust {
    width: 80px;
    height: 38px;
    bottom: -19px;
  }
}
.arimakinen-header-shiba {
  width: 100%;
  height: 10px;
  background-image: url("/images/shiba.png");
  background-size: auto 10px;
  background-position: bottom;
  background-repeat: repeat-x;
}
@media (max-width: 599px) {
  .arimakinen-header-shiba {
    height: 6px;
    background-size: auto 6px;
  }
}
.arimakinen-header-green {
  width: 100%;
  height: 60px;
  background-color: #00922e;
  border-radius: 0 0 30px 30px;
  position: relative;
}
@media (max-width: 599px) {
  .arimakinen-header-green {
    height: 44px;
    border-radius: 0 0 22px 22px;
  }
}
.arimakinen-header-green h2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arimakinen-header-green h2 img {
  height: 32px;
}
@media (max-width: 599px) {
  .arimakinen-header-green h2 img {
    width: 320px;
    height: auto;
  }
}
.arimakinen-header h3 {
  margin: 0 0 4px 0;
  color: #1e2428;
  text-align: left;
  font-size: 30px;
  font-weight: bolder;
}
.arimakinen-header h4 {
  margin: 0 0 20px 0;
  color: #1e2428;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

.arimakinen-footer-credit {
  font-size: 14px;
  text-align: left;
  margin: 5px 0 30px 0;
  line-height: 1.5;
  font-style: italic;
}

.arimakinen-content-10dainews {
  margin: -20px 0 0 0;
}
.arimakinen-content-10dainews-title {
  margin: -10px 0 0 0;
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  color: #ab973a;
  font-size: 50px;
  text-align: center;
}
.arimakinen-content-10dainews-title span {
  font-size: 14px;
}
.arimakinen-content-10dainews-bar {
  margin: -10px 0 0 0;
  width: 100%;
  height: 8px;
  box-sizing: border-box;
  background: repeating-linear-gradient(-45deg, #008847, #008847 2px, white 3px, white 6px);
}
.arimakinen-content-10dainews-main {
  background-color: #008847;
  border-radius: 0 0 10px 10px;
  padding-bottom: 10px;
}
.arimakinen-content-10dainews-head {
  position: relative;
  margin: 0 0;
  background-color: #008847;
}
.arimakinen-content-10dainews-head-btn {
  z-index: 999;
  border: none;
  background-color: white;
  font-size: 16px;
  color: #1e2428;
  font-weight: 600;
  border-radius: 5px;
  padding: 2px 10px;
  text-align: right;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 18px;
}
.arimakinen-content-10dainews-news {
  display: block;
  background-color: #008847;
  border-radius: 0 0 10px 10px;
}
.arimakinen-content-10dainews-news-title {
  font-size: 26px;
  font-weight: bolder;
  color: white;
  padding: 10px 0 0 16px;
}
.arimakinen-content-10dainews-news-table {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.arimakinen-content-10dainews-news-table-scrollcontainer {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.arimakinen-content-10dainews-news-table-scrollcontainer table {
  width: 95%;
  margin: 10px auto 0;
  border-collapse: collapse;
  font-size: 16px;
  color: white;
  font-weight: 700;
}
.arimakinen-content-10dainews-news-table-scrollcontainer th {
  display: none;
}
.arimakinen-content-10dainews-news-table-scrollcontainer tr {
  border-bottom: 1px solid #caeca6;
}
.arimakinen-content-10dainews-news-table-scrollcontainer tr:last-child {
  border-bottom: none;
}
.arimakinen-content-10dainews-news-table-scrollcontainer td {
  padding: 5px 2px;
}
.arimakinen-content-10dainews-news-table-scrollcontainer .arimakinen-accordion-content {
  display: none;
  padding: 16px 0;
  border-top: none;
}
.arimakinen-content-10dainews-news-table-link {
  color: white;
  font-size: 16px;
  text-align: right;
  padding: 0 16px 8px 0;
}
.arimakinen-content-10dainews-news-table-link a {
  color: white;
}
.arimakinen-content-10dainews-news-table-circle-number {
  display: inline-block;
  width: 24px; /* 丸の大きさを調整 */
  height: 24px;
  line-height: 23px; /* テキストを垂直中央に配置 */
  text-align: center;
  border-radius: 50%; /* 丸形状 */
  background-color: #82bf40; /* 背景色 */
  color: white; /* テキスト色 */
  font-family: "Kanit", sans-serif;
  margin-left: 3px;
}
.arimakinen-content-10dainews-arimadata {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.arimakinen-content-10dainews-arimadata-title {
  font-size: 20px;
  font-weight: bold;
  color: #ab973a;
  text-align: center;
  line-height: 21px;
  margin-bottom: 10px;
}
.arimakinen-content-10dainews-arimadata-title span {
  font-size: 14px;
  color: #1e2428;
  font-weight: normal;
}
.arimakinen-content-10dainews-arimadata-table {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.arimakinen-content-10dainews-arimadata-table-scrollcontainer {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.arimakinen-content-10dainews-arimadata-table-scrollcontainer table {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  margin: 0 auto;
}
.arimakinen-content-10dainews-arimadata-table-scrollcontainer th,
.arimakinen-content-10dainews-arimadata-table-scrollcontainer td {
  white-space: nowrap;
}
.arimakinen-content-10dainews-arimadata-table-scrollcontainer th {
  font-weight: 500;
  font-size: 11px;
}
.arimakinen-content-10dainews-arimadata-table-scrollcontainer th,
.arimakinen-content-10dainews-arimadata-table-scrollcontainer table {
  border-bottom: 2px solid #d3d2c4;
}
.arimakinen-content-10dainews-arimadata-table-scrollcontainer td {
  border-bottom: 1px dashed #d3d2c4;
}
.arimakinen-content-10dainews-arimadata-table-scrollcontainer td {
  padding: 5px 5px;
}
.arimakinen-content-10dainews-arimadata-table-scrollcontainer .column-1,
.arimakinen-content-10dainews-arimadata-table-scrollcontainer column-2,
.arimakinen-content-10dainews-arimadata-table-scrollcontainer column-3,
.arimakinen-content-10dainews-arimadata-table-scrollcontainer column-5 {
  text-align: center;
}
.arimakinen-content-10dainews-arimadata-table-scrollcontainer .column-1 {
  font-family: "Kanit", sans-serif;
  color: #ab973a;
  font-weight: bold;
  font-size: 16px;
}
.arimakinen-content-10dainews-arimadata-table-scrollcontainer .column-4 {
  font-weight: bold;
}
.arimakinen-content-10dainews-others {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.arimakinen-content-10dainews-others-kanji, .arimakinen-content-10dainews-others-buzzword {
  background-color: #fffde1;
  border-radius: 5px;
}
.arimakinen-content-10dainews-others-kanji {
  width: 30%;
  margin-right: 10px;
}
.arimakinen-content-10dainews-others-buzzword {
  width: 70%;
}
.arimakinen-content-10dainews-others .others-title {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: rgb(151, 126, 15);
  padding: 6px 0;
  margin: 0 6px;
  border-bottom: 1px solid rgb(151, 126, 15);
}
.arimakinen-content-10dainews-others .others-answer {
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
  padding: 6px;
}/*# sourceMappingURL=arimakinen-10dainews.css.map */