@use "arimakinen-color" as ari;

html,
body {
  margin: 0 auto;
  max-width: 724px;
}

.arimakinen {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica Neue, HelveticaNeue,
    Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
  font-size: 16px;
  color: ari.$c-main-black;
  background-color: white;
  margin: 0 16px;
  @media screen and (min-width: 599px) {
    margin: 0 auto;
  }

  // ヘッダーロゴ
  &-h1 {
    margin: 20px auto;
    max-width: 599px;
    @media screen and (min-width: 599px) {
      // display: none;
      max-width: 724px;
      width: 724px;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  // ページタイトル
  &-h2 {
    margin: 0 0 4px 0;
    color: ari.$c-main-black;
    text-align: left;
    font-size: 25px;
    font-weight: 900;
  }

  // リード
  &-h3 {
    margin: 0 0 20px 0;
    color: ari.$c-main-black;
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
  }

  &-credit {
    font-size: 14px;
    text-align: left;
    margin: 5px 0 30px 0;
    line-height: 1.5;
    font-style: italic;
  }

  // コンテンツタイトル
  &-h4 {
    font-size: 24px;
    font-weight: 800;
    color: ari.$c-main-black;
    text-align: center;
    margin: 0 auto 10px auto;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      background-image: url("/images/arimakinen-teitetsu-gold.png");
      height: 36px;
      width: 36px;
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      margin: 0 7px 7px 5px;
    }
  }

  // ヘッダーとフッターメニュー
  &-linkmenu {
    position: relative;
    margin: 0 0 30px 0;
    ul {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      @media screen and (min-width: 599px) {
        margin: 0 150px;
      }
      li {
        width: 55px;
        img {
          width: 100%;
        }
      }
    }
  }

  &-group-pcflex {
    @media screen and (min-width: 599px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &-content {
    width: 100%;
    margin: 0 0 50px 0;
    img {
      width: 100%;
    }

    @media screen and (min-width: 599px) {
      flex-basis: calc(50% - 20px);
    }

    // 切り替えボタン
    &-change {
      position: relative;

      &-btn {
        z-index: 999; // ここに追加
        border: none;
        background-color: ari.$c-gold-2;
        font-size: 16px;
        color: white;
        font-weight: 600;
        border-radius: 5px;
        padding: 4px 10px;
        text-align: right;
        cursor: pointer;
        position: absolute;
        top: 50px;
        right: 0;
        @media screen and (min-width: 599px) {
          top: 0;
        }
      }

      &-newlinebtn {
        z-index: 999; // ここに追加
        border: none;
        background-color: ari.$c-gold-2;
        font-size: 16px;
        color: white;
        font-weight: 600;
        border-radius: 5px;
        padding: 4px 10px;
        // text-align: center;
        cursor: pointer;
        position: absolute;
        top: 50px;
        right: 0;
      }
    }

    // チャート
    &-chart {
      height: 500px;
      margin: 0 0 50px 0;
    }

    &-chart-size350 {
      height: 350px;
      @media (min-width: 599px) {
        height: 400px;
      }
    }
  }

  &-marginb90 {
    margin: 0 0 90px 0;
  }

  &-marginb100 {
    margin: 0 0 100px 0;
  }

  &-margint35 {
    margin: 35px 0 0 0;
  }

  &-pcdisp-none {
    display: block;
    @media (min-width: 599px) {
      display: none;
    }
  }
}
