/* アコーディオンの基本スタイル */
.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;

  &-header {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
    position: relative;

    /* 三角形のボタン */
    &:before {
      content: "";
      position: absolute;
      left: 10px; /* タイトルの左側に配置 */
      top: 50%;
      transform: translateY(-50%) rotate(90deg); /* 三角形を右向きに */
      border: 5px solid transparent; /* 三角形のサイズ */
      border-left-color: #333; /* 三角形の色 */
    }

    /* アコーディオンが開いた時の三角形のスタイル */
    &[open]:before {
      transform: translateY(-50%) rotate(-90deg); /* 三角形を左向きに */
    }
  }

  &-content {
    padding: 20px;
    display: none; /* アコーディオンが閉じている時はコンテンツを非表示に */

    /* アコーディオンが開いた時のコンテンツのスタイル */
    details[open] & {
      display: block;
    }
  }
}
