@use "arima-color" as ari;

/* アコーディオンのスタイル */
.accordion {
  margin-bottom: 10px;
  .accordion-toggle {
    padding: 0 10px;

    position: relative;

    .accordion-icon {
      /* 三角形の矢印を作るためのコード */
      position: relative;
      cursor: pointer;
      &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin-top: -6px;
        margin-right: 5px;
        border-style: solid;
        border-width: 15px 12px 0 12px; // 三角形の大きさを増やす
        border-color: ari.$c-gold-1 transparent transparent transparent;
        vertical-align: middle;
        transition: transform 0.3s ease; // アニメーションの追加
      }

      &.active:before {
        /* アクティブな状態のとき（下向き矢印） */
        transform: rotate(180deg); // 180度回転
      }
    }
  }
  .accordion-content {
    display: none;
    padding: 16px 0;
    border-top: none;
  }
}
