@use "color" as ari;

html,
body {
  margin: 0 auto;
  max-width: 724px;
}

.arimakinen {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica Neue, HelveticaNeue,
    Hiragino Kaku Gothic ProN, Meiryo, "メイリオ", sans-serif;
  font-size: 16px;
  color: ari.$c-main-black;
  background-color: white;
  margin: 0 16px;
  line-height: 1.5;
  font-size: 100%;
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;

  position: relative;

  @media screen and (min-width: 599px) {
    margin: 0 auto;
  }

  // コンテンツタイトル
  h5 {
    font-size: 24px;
    font-weight: 800;
    color: ari.$c-main-black;
    text-align: center;
    margin: 0 auto 10px auto;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      background-image: url("/images/arimakinen-teitetsu-gold.png");
      height: 36px;
      width: 36px;
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      margin: 0 7px 7px 5px;
    }
  }

  &-group-pcflex {
    @media screen and (min-width: 599px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &-content {
    width: 100%;
    margin: 0 0 50px 0;
    @media screen and (min-width: 599px) {
      flex-basis: calc(50% - 20px);
    }
    img {
      width: 100%;
    }

    &-container {
      margin: 0 auto;
      max-width: 400px;
    }

    // 切り替えボタン
    &-change {
      position: relative;

      &-btn,
      &-newlinebtn {
        z-index: 999; // ここに追加
        border: none;
        background-color: ari.$c-gold-2;
        font-size: 16px;
        color: white;
        font-weight: 600;
        border-radius: 5px;
        padding: 4px 10px;
        cursor: pointer;
        position: absolute;

        &:hover {
          opacity: 0.8;
        }
      }
      &-btn {
        top: 50px;
        right: 0;
        text-align: right;
        @media screen and (min-width: 599px) {
          top: 0;
        }
      }
      &-newlinebtn {
        top: 50px;
        right: 0;
      }
    }

    // チャート
    &-chart {
      // margin: 0 0 20px 0;

      .chart500 {
        height: 500px;
      }

      .chart380 {
        height: 380px;
      }
      .chart380pc485 {
        height: 380px;
        @media (min-width: 599px) {
          height: 485px;
        }
      }
      .chart350 {
        height: 350px;
        @media (min-width: 599px) {
          height: 400px;
        }
      }
    }

    // 高配当のところのチェンジボタン
    &-boxchange {
      position: relative;
      ul {
        margin: 0 auto 10px auto;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      li {
        z-index: 999; // ここに追加
        border: none;
        background-color: ari.$c-gold-2;
        font-size: 16px;
        color: white;
        font-weight: 600;
        border-radius: 5px;
        padding: 4px 10px;
        cursor: pointer;
        width: auto;
        flex-basis: calc(33.33% - 5px);
        text-align: center;
        margin-bottom: 6px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &-marginb20 {
    margin: 0 0 20px 0;
  }

  &-marginb30 {
    margin: 0 0 30px 0;
  }

  &-marginb40 {
    margin: 0 0 40px 0;
  }

  &-marginb50 {
    margin: 0 0 50px 0;
  }

  &-marginb60 {
    margin: 0 0 60px 0;
  }

  &-marginb70 {
    margin: 0 0 70px 0;
  }

  &-marginb90 {
    margin: 0 0 90px 0;
  }

  &-marginb100 {
    margin: 0 0 100px 0;
  }

  &-marginb120 {
    margin: 0 0 120px 0;
  }

  &-margint35 {
    margin: 35px 0 0 0;
  }

  &-margint10 {
    margin: 10px 0 0 0;
  }

  &-margint50 {
    margin: 50px 0 0 0;
  }

  &-margint-20 {
    margin: -20px 0 0 0;
  }

  &-margint-30pc {
    margin: 0;
    @media (min-width: 599px) {
      margin: -30px 0 0 0;
    }
  }

  &-pcdisp-none {
    display: block;
    @media (min-width: 599px) {
      display: none;
    }
  }

  &-pcdisp-none460 {
    display: block;
    @media (min-width: 460px) {
      display: none;
    }
  }

  &-pcdisp-none500 {
    display: block;
    @media (min-width: 500px) {
      display: none;
    }
  }

  &-mobdisp-none {
    display: block;
    @media (max-width: 599px) {
      display: none;
    }
  }
}
