@use "arimakinen-color" as ari;
@use "arimakinen-grades";

html,
body {
  margin: 0;
  max-width: 724px;
}

.arimakinen {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica Neue, HelveticaNeue,
    Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
  font-size: 16px;
  color: ari.$c-main-black;
  background-color: white;
  margin: 0 16px;

  &-h1 {
    margin: 0 0 20px 0;
    color: white;
    text-align: center;
    font-size: 39px;
    font-weight: 900;
    background-color: green;
  }

  &-h2 {
    margin: 0 0 20px 0;
    color: ari.$c-main-black;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
  }

  &-h3 {
    margin: 0 0 20px 0;
    color: ari.$c-main-black;
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
  }

  /* アコーディオンのスタイル */
  &-accordion {
    margin-bottom: 10px;
    margin-right: -16px;
    @media screen and (min-width: 599px) {
      margin-right: 0;
    }

    &-toggle {
      padding: 0 10px;
      position: relative;
      display: flex;
      align-items: baseline;
    }

    &-icon {
      /* 三角形の矢印を作るためのコード */
      position: relative;
      cursor: pointer;
      &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin-top: -6px;
        margin-right: 5px;
        border-style: solid;
        border-width: 15px 12px 0 12px; // 三角形の大きさを増やす
        border-color: ari.$c-gold-1 transparent transparent transparent;
        vertical-align: middle;
        transition: transform 0.3s ease; // アニメーションの追加
      }

      &.active:before {
        /* アクティブな状態のとき（下向き矢印） */
        transform: rotate(180deg); // 180度回転
      }
    }
  }

  &-times {
    color: ari.$c-gold-1;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    width: 100px;

    &-number {
      font-size: 39px;
      font-family: "Kanit", sans-serif;
      padding: 0 5px;
      vertical-align: -4%;
    }
  }
  &-times-date {
    font-size: 16px;
    color: ari.$c-l-back-1;
    font-weight: 500;
    padding-left: 10px;
  }

  &-table {
    width: 100%; // 親要素のパディングやボーダーを考慮した値に調整
    position: relative;
    box-sizing: border-box; // パディングとボーダーを幅に含める

    &-bar {
      position: absolute;
      overflow-x: auto;

      top: -5px;
      left: 0;
      width: 100%;
      height: 8px;
      box-sizing: border-box; // パディングとボーダーを高さに含める
      background: repeating-linear-gradient(
        -45deg,
        ari.$c-gold-1,
        ari.$c-gold-1 3px,
        white 3px,
        white 6px
      );
    }

    &-scrollcontainer {
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; // iOSデバイスのスムーズなスクロールのための設定

      .horsename {
        font-weight: bold;
      }

      .center-text {
        text-align: center;
      }

      th,
      td {
        white-space: nowrap;
      }

      th {
        font-weight: 500;
        font-size: 12px;
      }

      th,
      table {
        border-bottom: 2px solid ari.$c-l-gray-1;
      }

      td {
        border-bottom: 1px dashed ari.$c-l-gray-1;
      }

      table {
        border-collapse: collapse;
        font-size: 14px;
      }

      td {
        padding: 5px 5px;
      }
      .waku {
        background-color: ari.$c-waku-back;
      }
      .rank {
        font-family: "Kanit", sans-serif;
        color: ari.$c-gold-1;
      }
      .arimakinen-accordion-content {
        display: none;
        padding: 16px 0;
        border-top: none;
      }
    }
  }
}
