@use "arima-color" as ari;
@use "arima-grades";

.arimakinen {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica Neue, HelveticaNeue,
    Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
  font-size: 16px;
  color: ari.$c-main-black;
  background-color: white;

  .arima-h1 {
    margin: 0 0 20px 0;
    color: white;
    text-align: center;
    font-size: 39px;
    font-weight: 900;
    background-color: green;
  }

  .arima-h2 {
    margin: 0 0 20px 0;
    color: ari.$c-main-black;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
  }

  .arima-h3 {
    margin: 0 0 20px 0;
    color: ari.$c-main-black;

    font-size: 16px;
    font-weight: 500;
  }

  .arima-times {
    color: ari.$c-gold-1;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;

    .arima-times-number {
      font-size: 39px;
      font-family: "Kanit", sans-serif;
      padding: 0 5px;
      vertical-align: -2%;
    }
  }
  .arima-times-date {
    font-size: 16px;
    color: ari.$c-l-back-1;
    font-weight: 500;
    padding-left: 10px;
  }
}

.arimatable {
  margin: 0;
  width: 780px; // 親要素のパディングやボーダーを考慮した値に調整
  position: relative;
  box-sizing: border-box; // パディングとボーダーを幅に含める

  .diagonal-bar {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 8px;
    box-sizing: border-box; // パディングとボーダーを高さに含める
    background: repeating-linear-gradient(
      -45deg,
      ari.$c-gold-1,
      ari.$c-gold-1 3px,
      white 3px,
      white 6px
    );
  }

  .horsename {
    font-weight: bold;
  }

  .center-text {
    text-align: center;
  }

  th,
  td {
    white-space: nowrap;
  }

  th {
    font-weight: 500;
    font-size: 12px;
  }

  th,
  table {
    border-bottom: 2px solid ari.$c-l-gray-1;
  }

  td {
    border-bottom: 1px dashed ari.$c-l-gray-1;
  }

  table {
    border-collapse: collapse;
    font-size: 14px;
  }

  td {
    padding: 5px 5px;
  }
  .waku {
    background-color: ari.$c-waku-back;
  }
  .rank {
    font-family: "Kanit", sans-serif;
    color: ari.$c-gold-1;
  }
}
